<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drankoDmitry.learningcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="drankoDmitry.learningcards.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="drankoDmitry.learningcards.CardEditActivity"
            android:label="@string/title_activity_card_edit"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="file/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="drankoDmitry.learningcards.AddingCardManuallyActivity"
            android:label="@string/title_activity_adding_card_manually"
            android:parentActivityName="drankoDmitry.learningcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learningcards.MainActivity" />
        </activity>
        <activity
            android:name="drankoDmitry.learningcards.ReadFileActivity"
            android:label="@string/title_activity_read_file" >
        </activity>
        <activity
            android:name="drankoDmitry.learningcards.DeckChooser"
            android:label="@string/title_activity_deck_chooser" >
        </activity>
    </application>

</manifest>
